/Coronavirus/Temp/UnityLockfile
Coronavirus/Library/ArtifactDB-lock
Coronavirus/Library/SourceAssetDB-lock
Coronavirus/Library/ArtifactDB-lock
Coronavirus/.vs/Coronavirus/v15/Server/sqlite3/db.lock
Coronavirus/Temp/__Backupscenes/0.backup
